/*reset*/
html{-webkit-text-size-adjust:100%;}/*chrome font-size<12px */
body {font:12px "Microsoft YaHei","SimSun",arial,helvetica,clean,sans-serif;color:#333;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img{margin:0;}
ul,li {padding:0; list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
select,input,button,textarea {font-family:"Microsoft YaHei","SimSun",arial,helvetica,clean,sans-serif; font-size:12px;}
a{color:#333; text-decoration: none;}
a:hover{text-decoration: underline; color:#CA1622;}
a,a:visited,a:hover,a:active,a:focus{-moz-outline:none;outline:none;}
img{border:0px; vertical-align: top;}
button {border:0 none; margin:0;}
em{font-style:normal;}
input{outline:none;}
input[type=button]::-moz-focus-inner{border:none;}
* {outline: none;}
:focus {outline: 0;}

.wrap{position: relative; width: 1024px; background-color: #CCC; overflow-x: hidden;}
.side_bar{position: fixed; z-index: 99; left: 0; top: 0; width: 60px; height: 100%; background: #E4E4E4 url(../img/nav_index.png) no-repeat; background-size: 60px 747px;}
.nav_hover{position: absolute; left: 0; top: 65px; width: 60px; height: 65px; background-color: rgba(228, 58, 61,.8);}
.to_home{position: absolute; display:block; width: 60px; height: 65px; top: 0; text-indent: -99em;}
.to_list{position: absolute; display:block; width: 60px; height: 65px; top: 65px; text-indent: -99em;}
.to_cart{position: absolute; display:block; width: 60px; height: 65px; top: 195px; text-indent: -99em;}
.list_meun{position: fixed; z-index: 98; left: -300px; top: 0; width: 203px; height: 100%; background: #E65D60 url(../img/category.png) no-repeat; background-size: 203px 716px}
.list_meun a{display: block; height: 100%;}
.container{padding-left: 60px;}
.list{display: block;}
/* index */
.list_page{position: absolute; right: -1024px; top: 0; width: 964px; height: 747px;}
.list_meun{left: 60px;}
.list_meun a{-webkit-backface-visibility: hidden;}
.list_sub{position: fixed; top: 0; left: -800px; z-index: 97;}
.index_page{position: relative;}
.index_p1{
	position: absolute; left: 0; top: 0;}
.index_p1 .pic{
	backface-visibility: hidden;
	-webkit-transition: 1s ease-in-out;
-moz-transition: 1s ease-in-out;
-ms-transition: 1s ease-in-out;
-o-transition: 1s ease-in-out;
transition: 1s ease-in-out;
-moz-transform-style: preserve-3d;
-webkit-transform-style: preserve-3d;
position: relative;
}
.index_p1 .front, .index_p1 .back{position: absolute; left: 0; top: 0; 
-webkit-backface-visibility: hidden;}
.index_p1 .front{z-index: 2;}
.index_p1 .back{
-moz-transform: rotateX(180deg);
-webkit-transform: rotateX(180deg); 
}
.index_p1 .animate{
-moz-transform: rotateX(-180deg);
-webkit-transform: rotateX(-180deg); 
}
.index_p1 .pic1 .back{
  -moz-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);  
}
.index_p1 .pic1.animate{
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); 
}
.index_p1 .pic1{left: 767px; top: 171px; -webkit-transform-origin: 98.5px 100%;  /*高的一半 */}
.index_p1 .pic2{left: 573px; top: 0px; -webkit-transform-origin: 100% 85px; /* 高的一半 */}
.index_p1 .pic3{left: 191px; top: 363px; -webkit-transform-origin: 100% 95.5px; /* 高的一半 */}
.index_p1_link{position: absolute; left: 0; top: 0;}
.index_p1_link a{display: block; position: absolute; top: 0; left: 0; text-indent: -99em;}
.index_p1_link :nth-child(1){width: 286px; height: 171px; left: 573px;}
.index_p1_link :nth-child(2){width: 191px; height: 316px; top: 363px;}
.index_p1_link :nth-child(3){width: 191px; height: 191px; left: 191px; top: 363px;}
.index_p1_link :nth-child(4){width: 385px; height: 126px; left: 382px; top: 554px;}
.index_p1_link :nth-child(5){width: 197px; height: 223px; left: 767px; top: 554px;}

.list_add{position: absolute; left: 0; top: 290px; z-index: 5;}
.list_add a{display: block; width: 25px; height: 25px; margin-left: 217px; float: left; text-indent: -99em;}
.list_add :nth-child(1){margin-left: 184px;}
.btn_add{position: absolute; left: 186px; top: 291px; width: 24px;}
.btn_add.active{
	-webkit-transition: 0.5s ease-in-out;
-moz-transition: 0.5s ease-in-out;
-ms-transition: 0.5s ease-in-out;
-o-transition: 0.5s ease-in-out;
transition: 0.5s ease-in-out;-moz-transform: rotate(360deg);
-webkit-transform: rotate(360deg);}
/*nav*/
.nav_hover{opacity: 1; background-color: #E43A3D; top: 65px;}
.side_bar span{visibility: hidden;}
.side_bar a i{background: url(img/nav_hover.png) 0 -1px no-repeat; background-size: 60px 250px; width: 60px; height: 65px; display: block; opacity: 0;}
.side_bar .to_list i{background-position: -1px -65px; opacity: 1;}
.side_bar .to_cart i{background-position: 0px -195px;}
/*nav*/
.nav_hover{opacity: 1; background-color: #E43A3D; top: 65px;}
.side_bar span{visibility: hidden;}
.side_bar a i{background: url(../img/nav_hover.png) 0 -1px no-repeat; background-size: 60px 250px; width: 60px; height: 65px; display: block; opacity: 0;}
.side_bar .to_list i{background-position: -1px -65px; opacity: 1;}
.side_bar .to_cart i{background-position: 0px -195px;}


/*cart*/
.channel_page,.cart_page{position: absolute; right: -1024px; top:0; width: 964px;}
/*.side_bar{background-image: url(img/nav_cart.png);}*/
.top_bar{position: absolute; z-index: 99; top: 0; left: 60px; width: 100%; height: 80px; overflow: hidden;}
.cart_page_container{padding-top: 80px; padding-left: 60px; position: absolute; left: 0; top: 0; z-index: 90;}
.cart_step2{z-index: 0; width: 964px;}
.btn_buy{display: block; position: relative; top: -63px; left: 805px; width: 140px; height: 46px; text-indent: -99em;}
.cart_con{position: relative;}
.content_load{position: absolute; padding: 80px 0 0 60px; left: 0; top: 0;}

.order_con{position: relative;}
.order_con a{position: absolute; top: 0; left: 0; text-indent: -99em; display: block; width: 596px; height: 104px;}
.order_con .express_date{height: 150px; top: 104px;}
.order_con .invoice{height: 120px; top: 520px;}
.order_con .pic_l, .order_con .pic_r{float: left;}
.order_con .pic_r{width: 368px; height: 668px; overflow: hidden; position: relative;}
.order_con .pic_r img{display: block; position: absolute; left: 0; top: 0; z-index: 0;}
.order_con .pic_r img:first-child{z-index: 10;}
.order_con .pic_r .close{position: absolute; top: 0; left: 314px; width: 50px; height: 50px; z-index: 20;}
.order_con .pic_r .consignee_new{position: absolute; top: 54px; left: 22px; width: 323px; height: 108px; z-index: 20;}
.order_con .pic_r .consignee_save{position: absolute; top: 514px; left: 74px; width: 231px; height: 45px; z-index: 20;}

/* detail */
.detail_tag{position: fixed; z-index: 110; width: 30px; height: 80px; margin-left: -29px; top: 348px; background-image: url(../img/detail_tag.png); background-size: 30px 68px; background-position: 0 6px;}
.detail_tag2{background-image: url(../img/detail_tag2.png);}
.page_detail{position: absolute; top: 0; right: -1100px; z-index: 109; width: 988px; box-shadow: -5px 0 20px 5px rgba(0,0,0,.3);}
.page_detail:after{content: ""; display: block; height: 0; clear: both;}
.img_switch{position: absolute; left: -150px; top: 140px; width: 800px; height: 300px;}
.img_ul{position: absolute; left: 0; top: -15px; width: 1080px; height: 220px;}
.img_ul li{float: left; width: 360px; text-align: center;}
.img_ul li img{width: 80%; opacity: .5; -webkit-transition: all .2s ease;}
.img_ul li.current img{width: 100%; opacity: 1;}
.left_list{position: absolute; left: 0; top: 0; float: left; width:165px; min-height: 2000px; background-color: #f4f4f4; z-index: 120;}
.left_list_in{position: absolute; left: 0; top: 0; width: 165px; text-align: center;}
.left_list_in i{display: block; position: relative;  border-top: 1px solid #DDD; margin-top: 20px;}
.left_list_in i:after{position: absolute; top: -10px; left: 40px; width: 80px; background-color: #F4F4F4; content: "我感兴趣"; display: block; font-style: normal; font-size: 16px; text-align: center; color: #999; text-shadow: 1px 1px 0 #FFF;}
.left_list_tab{display: block; border-left: 6px solid #f4f4f4; text-align: center;}
.tab_on{border-left-color: #e02c23; background-color: #fff;}
.list_main{position: relative; float: right; width: 835px; overflow-x: hidden;}
.add_to_cart1, .easy_buy1, .add_to_cart2, .easy_buy2{
	position: absolute; width: 100px; height: 45px; text-indent: -99em;
}
.add_to_cart1{width: 140px;top: 645px; left: 453px;}
.easy_buy1{top:645px; left: 595px;}
.add_to_cart2{width: 140px;top: 865px; left: 595px;}
.overlay{position: fixed; z-index: 199; left: 0; top: 0; display: none;  width: 100%; height: 100%; background-color: #000; opacity: .6}
.detail_info{position: relative; z-index: 200; width: 1024px; height: 0; overflow: hidden; background: url(../img/pay_confirm.png); background-size: 1024px 341px;}
.detail_info_mark{background: url(../img/remark.png)}
.detail_info a{position: absolute; text-indent: -99em;}
.back_btn{left: 0; top: 0; width: 50px; height: 50px;}
.back_btn2{position: absolute; text-indent: -99em; z-index:1;}
.send_address{left: 300px; top: 15px; width: 340px; height: 145px;}
.pay_type{left: 650px; top:15px; width: 80px; height: 145px;}
.send_type{left: 740px; top:15px; width: 260px; height: 145px;}
.invoice_info{left: 300px; top: 165px; width: 340px; height: 90px;}
.discount_info{left: 300px; top: 295px; width: 200px; height: 30px;}
.remark{position: absolute; left: 650px; top: 165px; width: 350px; height: 90px; opacity: .1}
.order_submit{left: 860px; top: 282px; width: 150px; height: 45px;}
.detail_edit{position: absolute; width: 1024px; height: 341px; left: 0; top: 0; overflow: hidden;}	
.detail_edit_info{position: absolute; right: -1024px; top: 0; z-index: 200; width: 1024px; height: 341px; overflow: hidden;}
.keyboard{position: fixed; z-index: 200; left: 0; bottom: -406px; width: 1024px;}

/*more*/
.list_page .detail_tag{left: 1024px;}