/*reset*/
html{-webkit-text-size-adjust:100%;}/*chrome font-size<12px */
body {font:12px "Microsoft YaHei","SimSun",arial,helvetica,clean,sans-serif;color:#333;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img{margin:0;}
ul,li {padding:0; list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
select,input,button,textarea {font-family:"Microsoft YaHei","SimSun",arial,helvetica,clean,sans-serif; font-size:12px;}
a{color:#333; text-decoration: none;}
a:hover{text-decoration: underline; color:#CA1622;}
a,a:visited,a:hover,a:active,a:focus{-moz-outline:none;outline:none;}
img{border:0px; vertical-align: top;}
button {border:0 none; margin:0;}
em{font-style:normal;}
input{outline:none;}
input[type=button]::-moz-focus-inner{border:none;}
* {outline: none;}
:focus {outline: 0;}

img{vertical-align: top;}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
.clearfix { display: inline-block; }
.grid-c{margin-top: 12px;}
.grid-m{width: 865px; float: left;}
.grid-s{width: 335px; float: left;}
/*sprites*/
.video-header .search-con .search-form .search-btn i,
.video-header .user-nav li i,
.video-nav .category .title i,
.banner-slide .slide-controls .arrow i,
.recommend .hot .top .info .playbtn i,
.datashow i
{background: url(../img/icons.png) no-repeat;}
/*main*/
body{background-color: #FBFBFB; font-family: 'Microsoft YaHei';}
.w1200, .w1210{margin: 0 auto;}
.w1200{width: 1200px;}
.w1210{width: 1210px;}
.video-title{font-size: 18px; font-weight: bold; margin: 15px 0 10px 10px; border-left: 4px solid #C81622; padding-left: 10px; line-height: 20px; position: relative;}
.video-title .more{position: absolute; right: 10px; top: 5px; color: #039BFF; font-size: 12px;}
.datashow i{width: 10px; height: 10px; background-position: 0 -80px; display: inline-block; margin-right: 5px;}
.datashow .playnum{padding-left: 30px;}
.datashow .playnum i{width: 9px; background-position: 0 -95px;}
.video-list li{float: left; width: 200px; margin-right: 17px; margin-bottom: 20px;}
.video-list li a{color: #333;}
.video-list li .thumb{width: 200px; height: 110px; overflow: hidden; display: block;}
.video-list li .title{display: block; width: 200px; height: 20px; line-height: 20px; overflow: hidden; margin-top: 5px;}
.video-list li .datashow{color: #999;}
.video-list li .datashow i{background-position: -12px -80px;}
.video-list li .datashow .playnum i{background-position: -12px -95px;}
/*video-header*/
.video-header{background-color: #FFF; height: 48px; border-bottom: 1px solid #DCDCDC; box-shadow: 0 1px 2px rgba(0,0,0,0.1);}
.video-header .w1200{position: relative;}
.video-header .logo{padding-top: 3px;}
.video-header .header-r{position: absolute; right: 0; top: 0;}
.video-header .header-r a{color: #666;}
.video-header .header-r a:hover{text-decoration: none; color:#CA1622;}
.video-header .search-con, .video-header .user-nav{float: left;}
.video-header .search-con .user-name, .video-header .search-con .search-form{float: left;}
.video-header .search-con{border-right: 1px solid #F5F5F5;}
.video-header .search-con .user-name{line-height: 48px;}
.video-header .search-con .search-form{width: 317px; height: 32px; border: 1px solid #D2D2D2; margin: 7px 10px 0 15px; position: relative;}
.video-header .search-con .search-form input{width: 280px; height: 32px; color: #666; border: none; outline: none; padding: 0 5px;}
.video-header .search-con .search-form .search-btn{width: 33px; height: 32px; position: absolute; right: 0; top: 0;}
.video-header .search-con .search-form .search-btn i{width: 16px; height: 16px; display: block; margin: 7px auto 0;}
.video-header .user-nav li{float: left; line-height: 48px; border-right: 1px solid #F5F5F5; padding: 0 20px;}
.video-header .user-nav li i{width: 16px; height: 16px; display: block; background-position: 0 -20px; float: left; margin: 15px 5px 0 0;}
.video-header .user-nav .upload-video i{background-position: 0 -40px; height: 15px;}
.video-header .user-nav .logout i{background-position: 0 -60px;}

/*video-nav*/
.video-nav{height: 40px; border-bottom: 1px solid #D2D2D2; font-size: 14px; font-weight: bold;}
.video-nav .category{float: left; width: 70px; line-height: 38px; cursor: pointer; position: relative; z-index: 10;}
.video-nav .category .title{height: 40px; padding: 1px; position: relative; z-index: 5;}
.video-nav .category .title i{width: 14px; height: 12px; background-position: -60px 0; display: block; float: left; margin: 14px 5px 0 13px;}
.video-nav .category .list{display: none; position: absolute; left: 0; top: 32px; background-color: #FFF; border: 1px solid #D2D2D2; width: 100px; padding: 15px 20px 0; font-size: 12px; font-weight: normal;}
.video-nav .category .list li{line-height: 20px; margin-bottom: 15px;}
.video-nav .category.hover{color: #C81622;}
.video-nav .category.hover .title{height: 32px; border: 1px solid #D2D2D2; border-bottom: 1px solid #FFF; padding: 0; margin-top: -1px; padding-top: 1px; background-color: #FFF;}
.video-nav .category.hover .title i{background-position: -60px -18px;}
.video-nav .category.hover .list{display: block;}
.video-nav .nav-info{float: left; margin-left: 45px;}
.video-nav .nav-info li{float: left; line-height: 37px; margin: 0 45px; padding: 0 5px;}
.video-nav .nav-info li a{text-decoration: none; display: block; height: 35px; margin-top: 2px;}
.video-nav .nav-info li.cur{border-bottom: 4px solid #C81622;}
.video-nav .nav-info li.cur a{color: #C81622;}

/*video-main*/
.video-main{margin-top: 10px;}
.banner-slide{position: relative; width: 1200px; height: 400px;}
.banner-slide .slide-pic{position: absolute; left: 0; top: 0;}
.banner-slide .slide-controls{position: absolute; bottom: 15px; left: 236px; text-align: center; width: 727px; height: 60px; overflow: hidden;}
.banner-slide .slide-controls ul{display: inline-block; margin: 0 auto; *display: inline; *zoom: 1; background-color: #000; background: rgba(0,0,0,0.4); padding: 5px 10px;}
.banner-slide .slide-controls ul li{float: left; margin-right: 8px; cursor: pointer; position: relative; width: 85px; height: 50px; overflow: hidden;}
.banner-slide .slide-controls ul li .border{width: 81px; height: 46px; border: 2px solid #E31E25; position: absolute; display: none;}
.banner-slide .slide-controls ul li.cur .border{display: block;}
.banner-slide .slide-controls .arrow{width: 24px; height: 50px; text-align: center; position: relative;}
.banner-slide .slide-controls .arrow .bg{position: absolute; left: 0; top: 0; width: 24px; height: 50px; background-color: #fff; opacity: 0.4; filter: (opacity=40);}
.banner-slide .slide-controls .arrow i{width: 9px; height: 16px; display: block; background-position: 0 -130px; position: relative; z-index: 2; margin: 16px auto 0;}
.banner-slide .slide-controls .arrow-r{margin-right: 0;}
.banner-slide .slide-controls .arrow-r i{background-position: -10px -130px;}

.recommend{background-color: #FFF; height: 425px; border: 1px solid #D2D2D2; margin-top: 12px;}
.recommend .grid-m{width: 864px;}
.recommend .grid-s{width: 333px; border-left: 1px solid #D2D2D2; height: 425px;}
.recommend .hot .bd{padding-left: 15px; margin-top: 25px;}
.recommend .hot .top{width: 400px; height: 320px; float: left; position: relative;}
.recommend .hot .top img{width: 400px; height: 320px;}
.recommend .hot .top .info{position: absolute; bottom: 0; left: 0; width: 332px; height: 95px; background-color:#666; color: #FFF; padding-left: 68px;}
.recommend .hot .top .info a{color: #FFF;}
.recommend .hot .top .info .playbtn{position: absolute; left: 0; top: 0; width: 48px; height: 95px; background-color: #E51E21; text-align: center; display: block;}
.recommend .hot .top .info .playbtn i{width: 14px; height: 16px; background-position: 0 -110px; display: block; margin: 39px auto;}
.recommend .hot .slider{float: left;}
.recommend .hot .top .info .title{margin: 20px 0 10px; display: block; font-size: 14px; width: 312px; height: 20px; line-height: 20px; overflow: hidden;}

.recommend .slider{margin-left: 15px; width: 434px; float: left;}
.recommend .slider .slider-controls-con{text-align: center; position: relative; z-index: 5; top: -6px;}
.recommend .slider .slider-controls{display: inline-block; margin: 0 auto; *display: inline; *zoom: 1;}
.recommend .slider .slider-controls li{width: 12px; height: 12px; border-radius: 6px; background-color: #B2B2B2; float: left; margin: 0 5px; cursor: pointer;}
.recommend .slider .slider-controls .cur{background-color: #C71722;}
.recommend .comment li {border-bottom: 1px solid #F1F1F1; padding: 15px 10px; height: 64px;}
.recommend .comment li .user{width: 60px; height: 90px; float: left; text-align: center; margin-right: 6px;}
.recommend .comment li .user .user-avatar{display: block; margin-bottom: 5px; position: relative;}
.recommend .comment li .user .user-avatar .mask{background: url(../img/user-mask.png) no-repeat; width: 60px; height: 90px; position: absolute; top: 0; left: 8px;}
.recommend .comment li .detail{margin-top: 5px;}
.recommend .comment li .detail em{color: #999;}
.recommend .comment li .detail .title a{color: #039BFF;}
.recommend .comment li .detail .info{margin-top: 5px; line-height: 20px; height: 40px; overflow: hidden;}
.recommend .comment li.last{border: none;}

.openclass .hot{overflow-x: hidden;}
.openclass .hot .bd{margin: 15px 0 0 10px;}
.openclass .hot .video-list{margin-right: -15px;}
.openclass .hot .video-list li{margin-right: 15px;}
.openclass .rank{}
.openclass .rank .video-title{border: none; text-align: left; padding: 0;}
.openclass .rank .bd{padding: 0 10px;}
.rank .tab-hd{border-bottom: 1px solid #D7D7D7; height: 25px; margin: 15px 0 10px; color: #666;}
.rank .tab-hd li{float: left; border-right: 1px solid #D7D7D7;  width: 77px; height: 18px; line-height: 18px; text-align: center; cursor: pointer; font-weight: bold; margin-top: 2px;}
.rank .tab-hd li.cur{color: #C81622;}
.rank .tab-hd li.cur span{border-bottom: 3px solid #C81622; display: inline-block; height: 21px; padding: 0 3px;}
.rank .tab-hd li.last{border-right: none;}
.rank .tab-list{clear: both;}
.rank .tab-list li{}
.rank .tab-list li i{}