/* reset 样式模块 */

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
    color:#000;background:#fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    margin:0;padding:0;
}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { 
    display:block;
}

/* HTML5 媒体文件跟 img 保持一致 */
audio,canvas,video {
    display: inline-block;*display: inline;*zoom: 1;
}

/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea {
    font:12px/1.5 "Microsoft YaHei",tahoma,arial,"Hiragino Sans GB",\5b8b\4f53;
}
input,select,textarea {
    font-size:100%;
}

/* 去掉各Table  cell 的边距并让其边重合 */
table {
    border-collapse:collapse;border-spacing:0;
}

/* IE bug fixed: th 不继承 text-align*/
th {
    text-align:inherit;
}

/* 去除默认边框 */
fieldset,img {
    border:0;
}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
    display:block;
}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym {
    border:0;font-variant:normal;
}

/* 一致的 del 样式 */
del {
    text-decoration:line-through;
}

address,caption,cite,code,dfn,em,th,var {
    font-style:normal;
    font-weight:500;
}

/* 去掉列表前的标识, li 会继承 */
ol,ul {
    list-style:none;
}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {
    text-align:left;
}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:500;
}

q:before,q:after {
    content:'';
}

/* 统一上标和下标 */
sub, sup {
    font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* 正常链接 未访问 */
a:link {
    color: #08c;
}

/* 鼠标悬停 */
a:hover {
    color: #08c;
    text-decoration: underline;
}

/* 默认不显示下划线，保持页面简洁 */
ins,a {
    text-decoration:none;
}

/* 代码字体 */
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}

/* 清理浮动 */
.fn-clear:after {
    visibility:hidden;
    display:block;
    font-size:0;
    content:" ";
    clear:both;
    height:0;
}
.fn-clear {
    zoom:1; /* for IE6 IE7 */
}

/* 隐藏, 通常用来与 JS 配合 */
.fn-hide {
    display:none;
}

/* 设置内联, 减少浮动带来的bug */
.fn-left,
.fn-right {
    display:inline;
}
.fn-left {
    float:left;
}
.fn-right {
    float:right;
}

/* 单行文字溢出时出现省略号，需设定宽度 */ 
.fn-text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 简单的渐变 */
.fn-linear {
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f1f1f1));
    background: -moz-linear-gradient(top, #fcfcfc, #f1f1f1);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f1f1f1');
    background:-o-linear-gradient(top, #fcfcfc, #f1f1f1);
    background:-ms-linear-gradient(top, #fcfcfc, #f1f1f1);
    background: linear-gradient(to bottom, #fcfcfc, #f1f1f1);
}

/* 浅色的渐变 */
.fn-linear-light {
    background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f9f9f9));
    background: -moz-linear-gradient(top, #fcfcfc, #f9f9f9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f9f9f9');
    background:-o-linear-gradient(top, #fcfcfc, #f9f9f9);
    background:-ms-linear-gradient(top, #fcfcfc, #f9f9f9);
    background: linear-gradient(to bottom, #fcfcfc, #f9f9f9);
}

/* 人民币符号 */
.fn-rmb {
    font-family: arial;
    font-style: normal;
    padding-right: 4px;
}


/* chrome 下字体过小的问题 */
.fn-webkit-adjust {
    -webkit-text-size-adjust: none;
}

/* grid 样式模块 */

.ui-grid-1, .ui-grid-2, .ui-grid-3, .ui-grid-4, .ui-grid-5, .ui-grid-6, .ui-grid-7, .ui-grid-8, .ui-grid-9, .ui-grid-10, .ui-grid-11,.ui-grid-12, .ui-grid-13, .ui-grid-14, .ui-grid-15, .ui-grid-16, .ui-grid-17, .ui-grid-18, .ui-grid-19, .ui-grid-20, .ui-grid-21, .ui-grid-22, .ui-grid-23, .ui-grid-24, .ui-grid-25 {
    margin: 0 10px 10px 0;
    float:left;
    display:inline;
}

.ui-grid-1 {width:30px;}
.ui-grid-2 {width:70px;}
.ui-grid-3 {width:110px;}
.ui-grid-4 {width:150px;} /* 右侧推广位的宽度 */
.ui-grid-5 {width:190px;} /* 左侧边栏的宽度 */
.ui-grid-6 {width:230px;}
.ui-grid-7 {width:270px;}
.ui-grid-8 {width:310px;}
.ui-grid-9 {width:350px;}
.ui-grid-10 {width:390px;}
.ui-grid-11 {width:430px;}
.ui-grid-12 {width:470px;}
.ui-grid-13 {width:510px;}
.ui-grid-14 {width:550px;}
.ui-grid-15 {width:590px;} /* 中央区域宽度 */
.ui-grid-16 {width:630px;}
.ui-grid-17 {width:670px;}
.ui-grid-18 {width:710px;}
.ui-grid-19 {width:750px;}
.ui-grid-20 {width:790px;}
.ui-grid-21 {width:830px;} /* 交易明细表区域的宽度 */
.ui-grid-22 {width:870px;}
.ui-grid-23 {width:910px;}
.ui-grid-24 {width:950px;}
.ui-grid-25 {width:990px;} /* 最大页面宽度 */
 
.ui-grid-row {
    margin-right: -10px;
    zoom: 1;
}
.ui-grid-row:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

/* button 样式模块 */
.ui-button * {
    margin:0;
    padding:0;
}

.ui-button {
    display: inline-block;
    *display: inline;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font-size: 14px;
    font-family: inherit; /* Correct font family not being inherited in all browsers for <button> <input> */
    font-weight: bold;
    border-radius: 2px;
    padding: 0 20px;
    *zoom: 1;
    *overflow: visible; /* for a ie6/7 bug http://blog.csdn.net/jyy_12/article/details/6636099 */    
    background-image: none; /* for old alice button style conflict */
}

.ui-button .ui-button-text {
    background: none;
    padding: 0;
    height: auto;
    line-height: auto;
}

.ui-button:hover {
    text-decoration: none;
    background-image: none; /* for old alice button style conflict */    
}

input.ui-button-text, button.ui-button-text {
    *vertical-align: top; /* for a ie7 bug */
}

.ui-button:active {
    position: relative;
    top: 1px;
    box-shadow: 1px 1px 3px #999 inset;
}

/* 大厅基础样式模块 */
body {
    background: #fff url(../img/bg.png) repeat-y 50% 0;
    min-width:1349px;
}
.ui-grid-29 {
    width:1349px;
    margin: 0 auto;
}
.ui-button { border: none;background-color: #E94D59;color: #fff;font-size: 16px;}

/* 大厅顶部样式模块 */
.oa-header {
    background: url(../img/nav-bg.png) repeat-x;
    margin-bottom: 18px;
}
.oa-header .inner {
    background: url(../img/nav-rp.png) no-repeat 50% 0;
    height: 76px;
}
.oa-logo {
    float: left;
    *display: inline;
    width: 370px;
    height: 76px;
    font: 0/0 a;
    color: transparent;
    margin-left: 10px;
    background: url(../img/logo.png) no-repeat 0 20px;
}
/*gray*/
.gray-header{background-image: none; background-color: #F6F7F9;}
.gray-header .inner{background-image: url(../img/nav-rp-gray.png); height: 71px;}
.gray-header .oa-logo{background-image: url(../img/logo-gray.png); height: 71px;}

.oa-nav {
    float: right;
    width: 333px;
    color: #ffabab;
    font-size: 18px;
    padding: 30px 0 0 0;
}
.oa-nav li {
    position: relative;
    float: left;
    margin-right: 30px;
    padding-bottom: 20px;
}
.oa-nav li a {
    color: #ffabab;
    text-decoration: none;
}
.gray-header .oa-nav li a{color: #808080;}
.oa-nav li.active a, .oa-nav li a:hover {
    color: #000;
}
.oa-nav-list {
    display: none;
    position: absolute;
    left: 50%;
    top: 35px;
    width: 110px;
    margin-left: -60px;
    font-size: 14px;
    color: #666;
    background: #ececec;
    border: 1px solid #C3C3C3;
    /*border-top: 0;*/
    padding: 10px;
    z-index: 10;
    /*box-shadow: rgba(0,0,0,0.75) 0 0 8px;*/
}
.oa-nav-list dt {
    position: absolute;
    left: 50%;
    top: -10px;
    margin-left: -10px;
    width: 17px;
    height: 10px;
    background: url(../img/sp.png) no-repeat -70px 0;
}
.oa-nav-list dd {
    position: relative;
    float: none;
    margin: 0;
}
.oa-nav-list dd a {
    position: relative;
    display: block;
    color: #666;
    line-height: 42px;
    text-indent: 12px;
    border: 1px solid #ececec;
    border-right: 1px solid transparent;
    z-index: 6;
}
.oa-nav-list dd.active a {
    color: #666;
    background: #fff;
    border: 1px solid #d1d1d1;
    border-left: 1px solid transparent;
    /*box-shadow: rgba(0,0,0,0.3) 0 0 4px;*/
}
.oa-nav-child {
    display: none;
    position: absolute;
    top: 0;
    left: -199px;
    width: 180px;
    padding: 0 0 10px 20px;
    background: #fff;
    border: 1px solid #d1d1d1;
    z-index: 5;
    /*box-shadow: rgba(0,0,0,0.3) 0 0 4px;*/
}
.oa-nav-left .oa-nav-child { left: -199px;}
.oa-nav-child h3 {
    color: #666;
    clear: both;
    margin: 10px 0;
}
.oa-nav-list dd .oa-nav-child a {
    float: left;
    color: #999;
    line-height: 18px;
    border: none;
    text-indent: 0;
    margin: 0 10px 5px 0;
}
.oa-nav-list dd .oa-nav-child a:hover {
    color: #666;
    background: none;
    border: none;
}